nav {
  display: flex;
  align-items: center; /* Centrar verticalmente dentro del nav */
}

a:visited {
  text-decoration: none;
}

a {
  color: whitesmoke;
}

.div-nav,
.material-symbols-outlined {
  margin-left: 20px; /* Espacio entre los elementos de navegación */
  text-decoration: none;
}

.color-logo {
  color: var(--color-logo);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.material-symbols-outlined, a {
  color: rgb(177, 191, 196);
  text-decoration: none;
}

