@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap%27);
/* fuente del logo */
color: #FFBC25;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px; 

/* paleta de colores */
Hex            RGB
#762d94    (118,45,148)
#7bbbec    (123,187,236)
#eecc65    (238,204,101)
coding music #ffb900 (255,185,0)
#b71f1f    (183,31,31)
/

:root {
  /*COLORES*/
  --color-logo: #ffb900;
}

body {
  background-image: url(/assets/media/images/background_1920x1280.jpg);
}

nav {
  display: flex;
  align-items: center; / Centrar verticalmente dentro del nav /
}

.div-nav {
  margin-left: 20px; / Espacio entre los elementos de navegación /
}

.header-nav {
  color: var(--color-logo);
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.form_ {
  display: flex;  /alinea horizontalmente/
  justify-content: center;  /alinea horizontalmente/
  align-items: center; /alinea verticalmente/
  height: 100vh; /alinea verticalmente*/
}
