nav {
  display: flex;
  align-items: center; /* Centrar verticalmente dentro del nav */
  justify-content: space-between;
  align-items: center;
}

a:visited {
  text-decoration: none;
}

a {
  color: whitesmoke;
}

a:hover {
  color: var(--color-logo);
}

.div-nav {
  margin-left: 20px; /* Espacio entre los elementos de navegación */
  text-decoration: none;
}

.div-log {
  justify-content: right;
  text-decoration: none;
  margin-left: auto;
}
.div-log a {
  margin-right: 10px;
  margin-left: 10px;
}

.color-logo {
  color: var(--color-logo);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-decoration: none;
}

.material-symbols-outlined,
a {
  color: rgb(177, 191, 196);
  text-decoration: none;
}

span {
  color: whitesmoke;
}
