.search-bar-container {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 50px;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  max-height: 100px;
  padding: 24px 20px;
  align-items: center;
  display: flex;
  background-color: #30303050;
  border-radius: 60px;
  backdrop-filter: blur(5px);
}

.search-bar input {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: 0;
  padding: 24px 20px;
  font-size: 24px;
  color: #f2f2f2;
}

.search-bar input::placeholder {
  color: #f2f2f2;
}

.search-bar button {
  font-size: 28px;
  width: auto;
  width: 60px;
  height: 60px;
  border: none;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgba(104, 104, 104, 0.5);
  color: var(--color-logo);
}

.search-bar button:hover {
  color: black;
  background-color: var(--color-logo);
}


/* ---MEDIA QUERIES--- */
@media screen and (max-width: 1200px) {

  .search-bar-container {
    margin-top: 80px;
    margin-bottom: 35px;
  }

  .search-bar {
    max-height: 80px;
    max-width: 550px;
    padding: 20px 16px;
  }

  .search-bar input {
    font-size: 20px;
  }

  .search-bar button {
    font-size: 22px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .search-bar-container {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .search-bar {
    max-width: 400px;
  }

}

@media screen and (max-width: 420px) {
  .search-bar-container {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .search-bar {
    max-width: 275px;
    max-height: 70px;
    padding: 0px 0px;
  }

  .search-bar input {
    font-size: 16px;
    padding-right: 0px;
  }

  .search-bar button {
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }


}

/*-------------------------------*/
#songs {
  text-align: center;
}
#songs article {
  margin-top: 25px;
  justify-content: center;

}

#songs article p, h4 {
  font-size: 16px;
  color: #f2f2f2;
}
