article {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.artist-card {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: solid 1px #fff;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    color: white;
    transition-property: transform;
    transition-duration: 0.5s;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

.artist-card:hover {
    transform: scale(110%) ;
}

/* .rotate-image {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(10deg);
    width: 50px; 
    height: 50px;
} */
