nav {
  display: flex;
  align-items: center; /* Centrar verticalmente dentro del nav */
  }

a:visited {
  text-decoration: none;
}

a {
  color: whitesmoke;
}

.div-nav {
  margin-left: 20px; /* Espacio entre los elementos de navegación */
}

.color-logo {
  color: var(--color-logo);
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-decoration: none;
}

/*.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}*/