@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/*
color: #FFBC25;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px; 
*/


/*Set 2 variables for the colors, to access, use : var(--var-name)*/
:root {
    --main-font-color: #ebebeb;
    --main-yellow: #ffb900;
}

body {
    background-image: url("../../media/images/background-login-3000x1688.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogin {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: var(--main-font-color);
    border-radius: 10px;
    padding: 20px 30px;
}

.mainLogin .logo {
    text-align: center;
    color: var(--main-yellow);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px; 
}


.mainLogin .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: var(--main-font-color);
    padding: 15px 45px 15px 20px;
}

.input-box input::placeholder {
    color: var(--main-font-color);
}


.mainLogin .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: var(--main-font-color);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--main-font-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.mainLogin .btn {
    width: 100%;
    height: 45px;
    background-color: var(--main-font-color);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.5s;
}

.mainLogin .btn:hover {
    background-color: var(--main-yellow);

}

.mainLogin .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px ;
}

.register-link p a {
    color: var(--main-yellow);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.back-to-home {
    color: var(--main-font-color);
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

.back-to-home :hover {
    text-decoration: underline;
}


/*  MQ */

@media only screen and (max-width: 400px) {
    .mainLogin {
        width: 300px;
    }
    .mainLogin .logo {
        font-size: 28px;
    }
    .mainLogin .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: -15px 0 15px;
    }
    .mainLogin .input-box {
        width: 100%;
        height: 50px;
        margin: 20px 0;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    .mainLogin {
        width: 360px;
    }
    .mainLogin .logo {
        font-size: 36px;
    }
}

